<%# Update sections sidebar with updated counts %>
<%= turbo_stream.replace "articles-sections-list" do %>
  <div id="articles-sections-list" class="flex-1 overflow-y-auto">
    <% @new_article.project.sections.visible.ordered.each do |section| %>
      <% article_count = section.articles.for_help_centre.count %>
      <%= render "projects/articles_section_row",
          section: section,
          article_count: article_count,
          selected: section.id.to_s == @section_id.to_s,
          project: @new_article.project %>
    <% end %>

    <% uncategorized_count = @new_article.project.articles.for_help_centre.where(section: nil).count %>
    <% if uncategorized_count > 0 %>
      <div class="border-t border-gray-200 mt-2 pt-2">
        <%= render "projects/articles_section_row",
            section: nil,
            article_count: uncategorized_count,
            selected: @section_id == "uncategorized",
            project: @new_article.project %>
      </div>
    <% end %>
  </div>
<% end %>

<%# Update article list to include the new duplicate %>
<%= turbo_stream.replace "articles-list-frame" do %>
  <% section = @section_id == "uncategorized" ? nil : @new_article.project.sections.find_by(id: @section_id) %>
  <% articles = section ? section.articles.for_help_centre.ordered : @new_article.project.articles.for_help_centre.where(section: nil).ordered %>
  <%= turbo_frame_tag "articles-list-frame" do %>
    <%= render "projects/articles_list",
        articles: articles,
        section: section,
        project: @new_article.project %>
  <% end %>
<% end %>

<%# Update editor to show the new duplicate %>
<%= turbo_stream.replace "articles-editor-frame" do %>
  <%= render "projects/articles_editor",
      article: @new_article,
      project: @new_article.project,
      sections: @new_article.project.sections.visible.ordered %>
<% end %>
