<%# Update the sections sidebar with new counts %>
<%= turbo_stream.replace "articles-sections-list" do %>
  <div id="articles-sections-list" class="flex-1 overflow-y-auto">
    <% @article.project.sections.visible.ordered.each do |section| %>
      <% article_count = section.articles.for_help_centre.count %>
      <%= render "projects/articles_section_row",
          section: section,
          article_count: article_count,
          selected: section.id.to_s == @new_section_id.to_s,
          project: @article.project %>
    <% end %>

    <% uncategorized_count = @article.project.articles.for_help_centre.where(section: nil).count %>
    <% if uncategorized_count > 0 %>
      <div class="border-t border-gray-200 mt-2 pt-2">
        <%= render "projects/articles_section_row",
            section: nil,
            article_count: uncategorized_count,
            selected: @new_section_id == "uncategorized",
            project: @article.project %>
      </div>
    <% end %>
  </div>
<% end %>

<%# Update article list to show articles from the new section %>
<%= turbo_stream.replace "articles-list-frame" do %>
  <% new_section = @new_section_id == "uncategorized" ? nil : @article.project.sections.find_by(id: @new_section_id) %>
  <% articles = new_section ? new_section.articles.for_help_centre.ordered : @article.project.articles.for_help_centre.where(section: nil).ordered %>
  <%= turbo_frame_tag "articles-list-frame" do %>
    <%= render "projects/articles_list",
        articles: articles,
        section: new_section,
        project: @article.project %>
  <% end %>
<% end %>

<%# Update editor to reflect the change %>
<%= turbo_stream.replace "articles-editor-frame" do %>
  <%= render "projects/articles_editor",
      article: @article,
      project: @article.project,
      sections: @article.project.sections.visible.ordered %>
<% end %>
