<%= turbo_stream_from @project, :sections %>
<%= turbo_stream_from @project, :onboarding %>

<div class="app-surface app-shadow-sm rounded-xl app-border overflow-hidden">


  <div id="onboarding-sections-status">
    <%= render "onboarding/projects/sections_status", project: @project %>
  </div>

  <%= render "onboarding/projects/sections_list", project: @project, sections: @pending_sections %>

  <div id="onboarding-sections-navigation">
    <%= render "onboarding/projects/sections_navigation", project: @project, can_continue: @pending_sections.empty? && !@project.sections_being_generated? %>
  </div>
</div>
